<template>
   <div class="index-tab">
      <div class="button-wrapper" v-bind:class="{ 'button-wrapper-left' : active_el == 1 , 'button-wrapper-middle' : active_el == 2, 'button-wrapper-right' : active_el == 3}">
        <div class="button-group" role="group">
          <button @click="active_el = 1" type="button" class="button-left" v-bind:class="{ 'active-button' : active_el == 1}">Arbeitnehmer</button>
          <button @click="active_el = 2" type="button" class="button-middle" v-bind:class="{ 'active-button' : active_el == 2}">Arbeitgeber</button>
          <button @click="active_el = 3" type="button" class="button-right" v-bind:class="{ 'active-button' : active_el == 3}">Temporaruro</button>
        </div>
      </div>
    <!-- Pannels -->
    <div class="index-pannel">
      <!-- start first pannel -->
      <div class="pannel-1" v-show="active_el == 1">
        <div class="pannel-title">Drei einfache Schritte <br> zu deinem neuen Job</div>
        <div class="row-one">
          <div class="img-wrapper">
            <img src="../assets/img/img-1.png" alt="">
          </div>
          <div class="content-wrapper">
            <h1 class="number">1.</h1>
            <h2 class="details">Erstellen dein Lebenslauf</h2>
          </div>
          <div class="circle-design"></div>
        </div>
        <div class="row-two">
          <div class="content-wrapper">
            <h1 class="number">2.</h1>
            <h2 class="details">Erstellen dein Lebenslauf</h2>
          </div>
          <div class="img-wrapper">
            <img src="../assets/img/img-2.png" alt="">
          </div>
        </div>
        <div class="row-three">
          <div class="content-wrapper">
            <h1 class="number">3.</h1>
            <h2 class="details">Mit nur einem Klick <br> bewerben</h2>
          </div>
          <div class="img-wrapper">
            <img src="../assets/img/img-3.png" alt="">
          </div>
          <div class="circle-design"></div>
        </div>
      </div>
      <!-- end first pannel -->
      <!-- start second pannel -->
      <div class="pannel-2" v-show="active_el == 2">
        <div class="pannel-title">Drei einfache Schritte <br> zu deinem neuen Mitarbeiter</div>
        <div class="row-one">
          <div class="img-wrapper">
            <img src="../assets/img/img-1.png" alt="">
          </div>
          <div class="content-wrapper">
            <h1 class="number">1.</h1>
            <h2 class="details">Erstellen dein Unternehmensprofil</h2>
          </div>
          <div class="circle-design"></div>
        </div>
        <div class="row-two">
          <div class="content-wrapper">
            <h1 class="number">2.</h1>
            <h2 class="details">Erstellen dein Jobinserat</h2>
          </div>
          <div class="img-wrapper">
            <img src="../assets/img/img-4.png" alt="">
          </div>
        </div>
        <div class="row-three">
          <div class="content-wrapper">
            <h1 class="number">3.</h1>
            <h2 class="details">Wähle deinen <br> neuen Mitarbeiter aus</h2>
          </div>
          <div class="img-wrapper">
            <img src="../assets/img/img-5.png" alt="">
          </div>
          <div class="circle-design"></div>
        </div>
      </div>
      <!-- end second pannel -->
      <!-- start three pannel -->
      <div class="pannel-3" v-show="active_el == 3">
        <div class="pannel-title">Drei einfache Schritte zur <br> Vermittlung neuer Mitarbeiter</div>
        <div class="row-one">
          <div class="img-wrapper">
            <img src="../assets/img/img-1.png" alt="">
          </div>
          <div class="content-wrapper">
            <h1 class="number">1.</h1>
            <h2 class="details">Erstellen dein <br> Unternehmensprofil</h2>
          </div>
          <div class="circle-design"></div>
        </div>
        <div class="row-two">
          <div class="content-wrapper">
            <h1 class="number">2.</h1>
            <h2 class="details">Erhalte Vermittlungs- <br> angebot von Arbeitgeber</h2>
          </div>
          <div class="img-wrapper">
            <img src="../assets/img/img-6.png" alt="">
          </div>
        </div>
        <div class="row-three">
          <div class="content-wrapper">
            <h1 class="number">3.</h1>
            <h2 class="details">Vermittlung nach <br> Provision oder <br> Stundenlohn</h2>
          </div>
          <div class="img-wrapper">
            <img src="../assets/img/img-7.png" alt="">
          </div>
          <div class="circle-design"></div>
        </div>
      </div>
      <!-- end three pannel -->
    </div>
    </div>
</template>

<script>
export default {
  name: 'IndexTab',
  data() {
    return {
      active_el: 1
    }
  },
  methods:{
  }
}
</script>
<style lang="scss" scoped>
// TAB CSS
.button-wrapper{
  @apply flex items-center mt-36 mb-10 overflow-hidden;
  .button-group{
    @apply inline-flex shadow-md hover:shadow-lg focus:shadow-lg px-4;
    .button-left{
      @apply text-active rounded-l-2xl w-44 inline-block py-4 bg-white border-solid border-gray-200 font-medium text-lg leading-tight uppercase outline-none focus:outline-none focus:ring-0 transition duration-150 ease-in-out
    }
    .button-middle{
      @apply text-active w-44 inline-block py-4 bg-white border-solid border-y-gray-200 border-x-0 border-x-transparent font-medium text-lg leading-tight uppercase outline-none focus:outline-none focus:ring-0 transition duration-150 ease-in-out
    }
    .button-right{
      @apply text-active rounded-r-2xl w-44 inline-block py-4 bg-white border-solid border-gray-200 font-medium text-lg leading-tight uppercase outline-none focus:outline-none focus:ring-0 transition duration-150 ease-in-out
    }
    .active-button{
      @apply bg-active text-white border-active
    }
  }
}
.button-wrapper-left {
  @apply justify-start
}
.button-wrapper-middle {
  @apply justify-center
}
.button-wrapper-right {
  @apply justify-end
}

// PANNEL ONE CSS
.pannel-1 {
  .pannel-title {
    @apply text-center text-3xl text-dark-gray;
  }
  // row one
  .row-one {
    @apply relative pt-9 z-20;
    .img-wrapper {
      @apply relative h-24;
      img {
        @apply absolute right-16 z-20;
      }
    }
    .content-wrapper {
      @apply pl-5 flex items-end;
        .number {
          @apply my-0 text-light-gray text-9xl tracking-wide;
        }
        .details {
          @apply mt-0 mb-3 pl-3 leading-tight text-light-gray font-normal text-xl tracking-wider;
        }
    }
    .circle-design{
      @apply rounded-full opacity-5 h-52 w-52 bg-light-gray absolute top-24 -left-6;
    }
  }
  // row two
  .row-two{
    @apply relative w-full pt-20 pb-16 overflow-hidden z-10;
    background-image: url('../assets/img/bg-1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .img-wrapper {
      @apply relative;
      img {
        @apply ml-40 mt-8;
      }
    }
    .content-wrapper {
      @apply pl-9 flex items-end;
        .number {
          @apply my-0 text-light-gray text-9xl tracking-wide;
        }
        .details {
          @apply mt-0 mb-3 pl-3 leading-tight text-light-gray font-normal text-xl tracking-wider;
        }
    }
  }
  // row-three
  .row-three {
    @apply relative -mt-4;
    .img-wrapper {
      @apply relative h-40;
      img {
        @apply absolute right-12 z-20 w-64 bottom-0;
      }
    }
    .content-wrapper {
      @apply pl-12 ml-1 flex items-center;
        .number {
          @apply my-0 text-light-gray text-9xl tracking-wide;
        }
        .details {
          @apply my-0 pl-2 leading-5 text-light-gray font-normal text-xl tracking-wider;
        }
    }
    .circle-design{
      @apply rounded-full opacity-5 h-72 w-72 bg-light-gray absolute -top-6 -left-6;
    }
  }
}
// PANNEL TWO CSS
.pannel-2 {
  .pannel-title {
    @apply text-center text-3xl text-dark-gray;
  }
  // row one
  .row-one {
    @apply relative pt-9 z-20;
    .img-wrapper {
      @apply relative h-32;
      img {
        @apply absolute right-16 z-20;
      }
    }
    .content-wrapper {
      @apply pl-5 flex items-end;
        .number {
          @apply my-0 text-light-gray text-9xl tracking-wide;
        }
        .details {
          @apply mt-0 mb-2.5 leading-tight text-light-gray font-normal text-xl pl-3.5 tracking-wider;
        }
    }
    .circle-design{
      @apply rounded-full opacity-5 h-52 w-52 bg-light-gray absolute top-24 -left-6;
    }
  }
  // row two
  .row-two{
    @apply relative w-full pt-20 pb-16 overflow-hidden z-10;
    background-image: url('../assets/img/bg-1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .img-wrapper {
      @apply relative;
      img {
        @apply ml-16 -mt-8 w-72;
      }
    }
    .content-wrapper {
      @apply pl-9 flex items-end;
        .number {
          @apply my-0 text-light-gray text-9xl tracking-wide;
        }
        .details {
          @apply mt-0 mb-3 leading-tight text-light-gray font-normal text-xl pl-3 tracking-wider;
        }
    }
  }
  // row-three
  .row-three {
    @apply relative -mt-4;
    .img-wrapper {
      @apply relative;
      img {
        @apply w-64 m-auto block mt-5;
      }
    }
    .content-wrapper {
      @apply pl-12 ml-1 flex items-center;
        .number {
          @apply my-0 text-light-gray text-8xl tracking-widest;
        }
        .details {
          @apply my-0 leading-5 text-light-gray font-normal text-xl pl-3.5 tracking-wider;
        }
    }
    .circle-design{
      @apply rounded-full opacity-5 h-72 w-72 bg-light-gray absolute -top-6 -left-6;
    }
  }
}
// PANNEL THREE CSS
.pannel-3 {
  .pannel-title {
    @apply text-center text-3xl text-dark-gray;
  }
  // row one
  .row-one {
    @apply relative pt-9 z-20;
    .img-wrapper {
      @apply relative h-24;
      img {
        @apply absolute right-16 z-20;
      }
    }
    .content-wrapper {
      @apply pl-5 flex items-end;
        .number {
          @apply my-0 text-light-gray text-9xl tracking-wide;
        }
        .details {
          @apply mt-0 mb-3 pl-3 leading-tight text-light-gray font-normal text-xl tracking-wider;
        }
    }
    .circle-design{
      @apply rounded-full opacity-5 h-52 w-52 bg-light-gray absolute top-24 -left-6;
    }
  }
  // row two
  .row-two{
    @apply relative w-full pt-20 pb-16 overflow-hidden z-10;
    background-image: url('../assets/img/bg-1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .img-wrapper {
      @apply relative;
      img {
        @apply ml-32 mt-2;
      }
    }
    .content-wrapper {
      @apply pl-9 flex items-end;
        .number {
          @apply my-0 text-light-gray text-9xl tracking-wide;
        }
        .details {
          @apply mt-0 mb-3 pl-3 leading-tight text-light-gray font-normal text-xl tracking-wider;
        }
    }
  }
  // row-three
  .row-three {
    @apply relative -mt-4;
    .img-wrapper {
      @apply relative;
      img {
        @apply block z-20 w-64 m-auto mt-4;
      }
    }
    .content-wrapper {
      @apply pl-12 ml-1 flex items-center;
        .number {
          @apply my-0 text-light-gray text-9xl tracking-wide;
        }
        .details {
          @apply my-0 pl-2 leading-5 text-light-gray font-normal text-xl tracking-wider;
        }
    }
    .circle-design{
      @apply rounded-full opacity-5 h-72 w-72 bg-light-gray absolute -top-6 -left-6;
    }
  }
}
</style>