<template>
  <div class="wrapper">
    <header class="index-header">
      <div class="gradient-line"></div>
      <div class="login-wrapper">
        <button class="login-btn">Login</button>
      </div>
    </header>
    <div class="hero-section">
      <h1 class="title">
        <span>Deine Job</span><br><span>website</span>
      </h1>
      <img class="hero-img bg-black" src="../assets/img/hero-bg.png" alt="">
    </div>
    
    <index-tab></index-tab>
    <footer class="index-footer">
      <button class="footer-btn">Kostenlos Registrieren</button>
    </footer>
  </div>
</template>

<script>
import IndexTab from '../components/IndexTab.vue'
export default {
  components: { IndexTab },
  name: 'IndexPage',
  data() {
    return {
      active_el: 1
    }
  },
  methods:{
  }
}
</script>
<style lang="scss" scoped>
.wrapper{
  @apply w-full mb-40
}
.index-header{
  @apply sticky inset-x-0 top-0  bg-white shadow-md rounded-b-lg  z-30;
  .gradient-line{
    @apply bg-gradient-to-r from-primary to-secondary h-2;
  }
  .login-wrapper{
    @apply flex justify-end p-6;
    .login-btn{
      @apply bg-transparent border-transparent text-primary text-base
    }
  }
}
.hero-section {
  @apply pt-28 bg-success relative;
  .title {
    @apply text-black text-center text-5xl font-normal;
  }
  .hero-img{
    @apply w-full -mb-24
  }
}

.index-footer{
  @apply fixed inset-x-0 bottom-0 z-30 bg-white shadow-md rounded-t-lg p-6;
  .footer-btn{
    @apply bg-gradient-to-r from-primary to-secondary text-lg py-2 tracking-wider border-transparent rounded-lg w-full text-white
  }
}
</style>